.main-containers {
  margin: 40px;
  height: auto;
  min-height: 1100px;
}
.main-containers .artistList .artistBox {
  display: flex;
}

/* li {
  font-size: 24px;
  margin-top: 20px;
  margin-left: 16px;
} */