.main-containers {
  margin: 40px;
  height: auto;
  min-height: 1100px;
}
.main-containers .art-container {
  display: flex;
}
.main-containers .art-container .artCard {
  width: 300px;
  height: auto;
  margin-top: 40px;
  margin-right: 40px;
  margin-bottom: 40px;
}
.main-containers .art-container .artCard .imgBox {
  width: 100%;
  height: 300px;
}
.main-containers .art-container .artCard .imgBox img {
  width: 100%;
  height: 100%;
  object-fit:cover;
}
.main-containers .art-container .artCard h3,
.main-containers .art-container .artCard h5,
.main-containers .art-container .artCard .descrpBox {
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 0px;
}
.main-containers .art-container .artCard .descripBox p {
  width: 100%;
  height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
h3 {
  text-transform: uppercase;
}