.profile-container {
  margin: 40px;
  height: auto;
  min-height: 1100px;
}
.profile-container h1 {
  margin-bottom: 30px;
}
.profile-container .profile-box {
  display: flex;
  justify-content: space-between;
}
.profile-container .profile-box .imgBox {
  width: 400px;
}
.profile-container .profile-box .imgBox img {
  width: 100%;
  height: auto;
}
.profile-container .profile-box .left-side .detail-box {
  margin-top: 40px;
  margin-bottom: 40px;
}
.profile-container .profile-box .right-side {
  margin-left: 56px;
}
.profile-container .profile-box .right-side .detail-box1 {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}
select {
  margin-left: 16px;
}
button {
  margin-top: 20px;
  margin-bottom: 20px;
}
button a:hover {
  color: white;
}
.profile-container .profile-box .right-side .historyBox {
  margin-top: 50px;
}
